<!-- <a routerLink="/" class="btn btn-secondary btn-back position-absolute top-0 start-0 m-3"><i class="fas fa-arrow-left"></i></a>

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title">Detalles del Pedido</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-title">Nombre del Cliente</h5>
                    <p class="card-text">Juan Pérez</p>
                </div>
                <div class="col-md-6">
                    <h5 class="card-title">Fecha del Pedido</h5>
                    <p class="card-text">10 de marzo de 2024</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title">Productos</h5>
                    <ul class="list-group">
                        <li class="list-group-item">1/4 de Pollo a la Brasa - S/ 15.00</li>
                        <li class="list-group-item">Papas Fritas - S/ 5.00</li>
                        <li class="list-group-item">Inca Kola 500ml - S/ 4.00</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h5 class="card-title">Dirección de Envío</h5>
                    <address>
                        Calle Principal, 123<br>
                        Ciudad<br>
                        País
                    </address>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary"><i class="fas fa-print"></i> Imprimir Detalles</button>
            </div>
        </div>
    </div>
</div> -->