<form [formGroup]="myForm">
    <h2 class="fw-bold mb-2 text-uppercase">Registro</h2>
    <p class="text-bold-50 mb-5">¡Por favor, completa el formulario para registrarte!</p>
    
    <div class="form-outline mb-4">
      <label for="IdPersonTipoDocumento">Tipo Documento</label>
      <select class="from-select" formControlName="IdPersonTipoDocumento" id="IdPersonTipoDocumento">
        <option  value="1">DNI</option>
      </select>
    </div>
    
    <div class="form-outline mb-4">
      <input [(ngModel)]="persona.dni" type="text" formControlName="NroDocumento" id="NroDocumento" class="form-control" />
      <label class="form-label" for="NroDocumento">N° Documento</label>
      <button type="button" (click)="buscarDni(persona.dni)">Buscar</button>
    </div>
    
    <div class="form-outline mb-4">
      <input  [(ngModel)]="persona.nombres" formControlName="Nombre"   type="text" id="Nombre" class="form-control"  />
      <label class="form-label" for="Nombre">Nombre</label>
    </div>
  
    <div class="form-outline mb-4">
      <input  [(ngModel)]="persona.apellidoPaterno" formControlName="ApPaterno" type="text" id="ApPaterno" class="form-control" />
      <label class="form-label" for="ApPaterno">Apellido Paterno</label>
    </div>
    
    <div class="form-outline mb-4">
      <input  [(ngModel)]="persona.apellidoMaterno" formControlName="ApMaterno" type="text" id="ApMaterno" class="form-control" />
      <label class="form-label" for="ApMaterno">Apellido Materno</label>
    </div>
    <!-- <div class="form-outline mb-4">
        <label formControlname="IdGenero" class="form-label" for="genero">genero</label>
        <select class="from-select">
            <option *ngFor="let d of personaGenero" [value]="d.IdGenero">
            {{d.Nombre}}
            </option>
        </select>
    </div> -->
    <div class="form-outline mb-4">
        <label  class="form-label" for="genero">genero</label>
        <select formControlname="IdGenero" class="from-select" id="IdGenero">
            <option value="1" >Masculino</option>
            <option value="2" >Femenino</option>
            
        </select>
    </div>
    <div class="form-outline mb-4">
        <input formControlName="fechaNacimiento" type="date" id="fechaNacimiento" name="fechaNacimiento" [value]="formatFecha()" class="form-control" />
        <br>
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    </div>
    
    <div class="form-outline mb-4">
      <input formControlName="Email" type="email" id="Email" class="form-control" />
      <label class="form-label" for="Email">Email</label>
    </div>
    
    <div class="form-outline mb-4">
      <input formControlName="Celular" type="text" id="Celular" class="form-control" />
      <label class="form-label" for="Celular">Teléfono</label>
    </div>
    
    <div class="text-center text-lg-start mt-4 pt-2">
      <button (click)="guardar()" type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>
      <p class="small fw-bold mt-2 pt-1 mb-0">¿Ya tienes una cuenta? <a href="#"
              class="link-danger">Iniciar sesión</a></p>
    </div>
  </form>
  