    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/">
          <img src="../../../assets/image/Photoroom-20240314_003305.png" alt="" width="100">
        </a>
    
        <!-- Botón de colapso para móviles -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Contenido del header -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Campo de búsqueda -->
          <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button route class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>

          <!-- Enlaces de usuario y carrito de compras -->
          <ul class="navbar-nav ml-auto">

             <!-- Enlace del carrito de compras -->
             <li class="nav-item">
              <a class="nav-link" routerLink="/seleccion">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>

            <!-- Enlace de inicio de sesión -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth"><i class="fas fa-user"></i></a>
            </li>
            
          </ul>
        </div>
      </div>
    </header>
    